/* Animations */

.fade-in {
    animation: fadein 1.5s ease-out;
}

.fade-drop-in {
    opacity: 0;
    animation: fadedropin 1.5s ease-out 1.5s forwards;
    transition: opacity 0.1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadedropin {
    from {
        margin-bottom: 40px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes scroll {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-84px);
    }
}