/* Code blocks */

.code-block {
    // background: #fdfdfd; // Fox only
    background: #272822;
    overflow: auto;
    width: auto;
    border: solid #535353;
    border-width: .1em .1em .1em .8em;
    padding: .2em .6em;
    
    font-size: 1.1rem;

    table {
        margin-bottom: 0;
        td, th {
            border-bottom: none;
        }
    }
    
    pre {
        margin: 0;
        line-height: 125%;
        color: #f8f8f2;

        &.line-numbers {
            color: #90908a;
        }
        
        .comment {
            color: #75715e;
        }
        
        .comment-highlight {
            color: #a6e22e;
        }
        
        .variable {
            color: #66d9ef;
        }
        
        .literal {
            &.string {
                color: #e6db74;
            }
            
            &.boolean {
                color: #ae81ff;
            }
        }
        
        .keyword {
            color: #f92672;
            font-weight: bold;
        }
        
        .option {
            color: #f92672;
        }
        
        .function {
            color: #a6e22e;
            font-weight: bold;
        }
        
        .snapin-reference {
            color: #a6e22e;
        }
    }
}
