/* Columns */

.column {
    @media (min-width: 550px) {
        &.big {
            width: 65.3333333333%;
        }
        &.small {
            width: 30.6666666667%;
        }
    }
    @media (min-width: 900px) {
        &.big {
            width: 74%;
        }
        &.small {
            width: 22%;
        }
    }
}
