/* Utilities */

// Border-box styling
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.u-text-center {
    text-align: center;
}

.u-hidden-mobile {
    @media (max-width: 549px) {
        display: none;
    }
}

.u-visible-mobile {
    @media (min-width: 550px) {
        display: none;
    }
}