/* Border box fix */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


/* Utilities */

.u-text-center {
    text-align: center;
}


/* Content */

.text-muted {
    color: #999;
}

.toc-marker {
    /* Table of contents marker needs to be slightly offset upwards, page load looks nicer that way */
    padding-top: 2rem;
    margin-top: -2rem;
    
    &:focus {
        outline: none;
    }
}

.background {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, #fff 100%), linear-gradient(70deg, #fdf2c3 32%, #c0eeff);
}

header, .header {
    height: 100vh;
    position: relative;
    
    .header-content {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        vertical-align: middle;
    }
}

.img-wrapper {
    height: 25rem;
    
    @media (min-width: 550px) {
        height: 38rem
    }
    
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: block;
    contain: strict;
    
    img {
        border-radius: 1rem;
        width: 100%;
        position: absolute;
        
        /* Performance improvements */
        will-change: transform;
        overflow: hidden;
        contain: strict;
        pointer-events: none;
        
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
    }
    
    &.top {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    
    &.bottom {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}

.column, .columns,
section, .section {
    margin-bottom: 2rem;
}

.button, button {
    width: 100%;
}

.chevron-down {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    left: calc(50% - 0.75em);
    position: absolute;
    bottom: 3rem;
    transform: rotate(135deg);
    vertical-align: top;
    outline: none;
}

/* code blocks */
.code-block {
    background: #fdfdfd; // Fox only
    overflow: auto;
    width: auto;
    border: solid #535353;
    border-width: .1em .1em .1em .8em;
    padding: .2em .6em;
    
    font-size: 1.1rem;
    
    pre {
        margin: 0;
        line-height: 125%;
        
        .comment {
            color: #949494;
        }
        
        .comment-highlight {
            color: #d42;
        }
        
        .variable {
            color: #8757ad;
        }
        
        .literal {
            &.string {
                color: #e88501;
            }
            
            &.boolean {
                color: #446fbd;
            }
        }
        
        .keyword {
            color: #446fbd;
            font-weight: bold;
        }
        
        .colon {
            
        }
        
        .option {
            color: #aaa;
        }
        
        .function {
            color: #6d8600;
            font-weight: bold;
        }
        
        .snapin-reference {
            color: #036;
            font-weight: bold;
        }
    }
}


/* columns */

.column {
    @media (min-width: 550px) {
        &.big {
            width: 65.3333333333%;
        }
        &.small {
            width: 30.6666666667%;
        }
    }
    @media (min-width: 900px) {
        &.big {
            width: 74%;
        }
        &.small {
            width: 22%;
        }
    }
}


/* animations */

.fade-in {
    animation: fadein 1.5s ease-out;
}

.fade-drop-in {
    opacity: 0;
    animation: fadedropin 1.5s ease-out 1.5s forwards;
    transition: opacity 0.1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadedropin {
    from {
        margin-bottom: 40px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}


/* iPhone Safari fix */

@media (orientation: portrait) {
    .ios-safari-margin {
        margin-top: -70px;
    }
}