/* line 1, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
html {
  box-sizing: border-box; }

/* line 5, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 9, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
.u-text-center {
  text-align: center; }

/* line 13, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
.text-muted {
  color: #999; }

/* line 17, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
.toc-marker {
  /* Table of contents marker needs to be slightly offset upwards, looks nicer that way */
  padding-top: 2rem;
  margin-top: -2rem; }

/* line 23, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
.background {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, #fff 100%), linear-gradient(70deg, #fdf2c3 32%, #c0eeff); }

/* line 32, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
.header {
  height: 100vh;
  position: relative; }
  /* line 36, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
  .header .header-content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle; }

/* line 45, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
.img-wrapper {
  height: 25rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: block; }
  @media (min-width: 550px) {
    /* line 45, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
    .img-wrapper {
      height: 38rem; } }
  /* line 55, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
  .img-wrapper img {
    border-radius: 1rem;
    width: 100%;
    position: absolute;
    /* Performance improvements */
    will-change: transform;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    /* iOS prefix */
    backface-visibility: hidden; }
  /* line 68, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
  .img-wrapper.top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; }
  /* line 73, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
  .img-wrapper.bottom {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; }

/* line 79, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
.column, .columns, .section {
  margin-bottom: 2rem; }

/* line 83, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
.button, button {
  width: 100%; }

/* line 87, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
.chevron-down {
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: '';
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  left: calc(50% - 0.75em);
  position: absolute;
  bottom: 3rem;
  transform: rotate(135deg);
  vertical-align: top;
  outline: none; }

/* columns */
@media (min-width: 550px) {
  /* line 105, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
  .column.big {
    width: 65.3333333333%; }
  /* line 106, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
  .column.small {
    width: 30.6666666667%; } }

@media (min-width: 900px) {
  /* line 109, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
  .column.big {
    width: 74%; }
  /* line 110, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
  .column.small {
    width: 22%; } }

/* animations */
/* line 115, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
.fade-in {
  animation: fadein 1.5s ease-out; }

/* line 119, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
.fade-drop-in {
  opacity: 0;
  animation: fadedropin 1.5s ease-out 1.5s forwards;
  transition: opacity 0.1s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadedropin {
  from {
    margin-bottom: 40px;
    opacity: 0; }
  to {
    margin-top: 0;
    opacity: 1; } }

/* iPhone Safari fix */
@media (orientation: portrait) {
  /* line 143, C:/Users/gpaton/Documents/GitHub/MellowArpeggiation.github.io/css/custom.scss */
  .ios-safari-margin {
    margin-top: -70px; } }

/*# sourceMappingURL=custom.css.map */