/** Taken directly from the Eat Elegant project
 *  Author - George Paton
 */

/* Fonts */

@font-face {
    font-family: secretcode;
    src: url(fonts/secrcode.woff) format('woff'), url(fonts/secrcode.ttf ) format('truetype');
}


/* Glitch text, generated procedurally with SASS */

.glitch {
    font-family: secretcode, monospace;
    font-size: 1.1em;
    position: relative;
    width: 100px;
    margin: 0 auto;
}

@keyframes noise-anim {
    0% {
        clip: rect(12px, 9999px, 18px, 0);
    }
    5% {
        clip: rect(10px, 9999px, 19px, 0);
    }
    10% {
        clip: rect(7px, 9999px, 2px, 0);
    }
    15.0% {
        clip: rect(20px, 9999px, 7px, 0);
    }
    20% {
        clip: rect(10px, 9999px, 18px, 0);
    }
    25% {
        clip: rect(2px, 9999px, 1px, 0);
    }
    30.0% {
        clip: rect(2px, 9999px, 9px, 0);
    }
    35% {
        clip: rect(15px, 9999px, 9px, 0);
    }
    40% {
        clip: rect(9px, 9999px, 10px, 0);
    }
    45% {
        clip: rect(19px, 9999px, 1px, 0);
    }
    50% {
        clip: rect(17px, 9999px, 16px, 0);
    }
    55.0% {
        clip: rect(11px, 9999px, 3px, 0);
    }
    60.0% {
        clip: rect(2px, 9999px, 1px, 0);
    }
    65% {
        clip: rect(19px, 9999px, 9px, 0);
    }
    70% {
        clip: rect(14px, 9999px, 3px, 0);
    }
    75% {
        clip: rect(20px, 9999px, 7px, 0);
    }
    80% {
        clip: rect(12px, 9999px, 4px, 0);
    }
    85.0% {
        clip: rect(13px, 9999px, 7px, 0);
    }
    90% {
        clip: rect(14px, 9999px, 16px, 0);
    }
    95% {
        clip: rect(19px, 9999px, 4px, 0);
    }
    100% {
        clip: rect(2px, 9999px, 4px, 0);
    }
}

@-webkit-keyframes noise-anim {
    0% {
        clip: rect(12px, 9999px, 18px, 0);
    }
    5% {
        clip: rect(10px, 9999px, 19px, 0);
    }
    10% {
        clip: rect(7px, 9999px, 2px, 0);
    }
    15.0% {
        clip: rect(20px, 9999px, 7px, 0);
    }
    20% {
        clip: rect(10px, 9999px, 18px, 0);
    }
    25% {
        clip: rect(2px, 9999px, 1px, 0);
    }
    30.0% {
        clip: rect(2px, 9999px, 9px, 0);
    }
    35% {
        clip: rect(15px, 9999px, 9px, 0);
    }
    40% {
        clip: rect(9px, 9999px, 10px, 0);
    }
    45% {
        clip: rect(19px, 9999px, 1px, 0);
    }
    50% {
        clip: rect(17px, 9999px, 16px, 0);
    }
    55.0% {
        clip: rect(11px, 9999px, 3px, 0);
    }
    60.0% {
        clip: rect(2px, 9999px, 1px, 0);
    }
    65% {
        clip: rect(19px, 9999px, 9px, 0);
    }
    70% {
        clip: rect(14px, 9999px, 3px, 0);
    }
    75% {
        clip: rect(20px, 9999px, 7px, 0);
    }
    80% {
        clip: rect(12px, 9999px, 4px, 0);
    }
    85.0% {
        clip: rect(13px, 9999px, 7px, 0);
    }
    90% {
        clip: rect(14px, 9999px, 16px, 0);
    }
    95% {
        clip: rect(19px, 9999px, 4px, 0);
    }
    100% {
        clip: rect(2px, 9999px, 4px, 0);
    }
}

.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 1px;
    text-shadow: -1px 0 red;
    top: 0;
    color: #000000;
    background: #ffffff;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
    -webkit-animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(9px, 9999px, 20px, 0);
    }
    5% {
        clip: rect(8px, 9999px, 1px, 0);
    }
    10% {
        clip: rect(7px, 9999px, 4px, 0);
    }
    15.0% {
        clip: rect(9px, 9999px, 10px, 0);
    }
    20% {
        clip: rect(13px, 9999px, 17px, 0);
    }
    25% {
        clip: rect(6px, 9999px, 3px, 0);
    }
    30.0% {
        clip: rect(9px, 9999px, 2px, 0);
    }
    35% {
        clip: rect(14px, 9999px, 18px, 0);
    }
    40% {
        clip: rect(5px, 9999px, 15px, 0);
    }
    45% {
        clip: rect(19px, 9999px, 5px, 0);
    }
    50% {
        clip: rect(17px, 9999px, 10px, 0);
    }
    55.0% {
        clip: rect(4px, 9999px, 6px, 0);
    }
    60.0% {
        clip: rect(7px, 9999px, 3px, 0);
    }
    65% {
        clip: rect(13px, 9999px, 10px, 0);
    }
    70% {
        clip: rect(19px, 9999px, 11px, 0);
    }
    75% {
        clip: rect(3px, 9999px, 7px, 0);
    }
    80% {
        clip: rect(13px, 9999px, 20px, 0);
    }
    85.0% {
        clip: rect(2px, 9999px, 9px, 0);
    }
    90% {
        clip: rect(5px, 9999px, 10px, 0);
    }
    95% {
        clip: rect(2px, 9999px, 14px, 0);
    }
    100% {
        clip: rect(8px, 9999px, 16px, 0);
    }
}

@-webkit-keyframes noise-anim-2 {
    0% {
        clip: rect(9px, 9999px, 20px, 0);
    }
    5% {
        clip: rect(8px, 9999px, 1px, 0);
    }
    10% {
        clip: rect(7px, 9999px, 4px, 0);
    }
    15.0% {
        clip: rect(9px, 9999px, 10px, 0);
    }
    20% {
        clip: rect(13px, 9999px, 17px, 0);
    }
    25% {
        clip: rect(6px, 9999px, 3px, 0);
    }
    30.0% {
        clip: rect(9px, 9999px, 2px, 0);
    }
    35% {
        clip: rect(14px, 9999px, 18px, 0);
    }
    40% {
        clip: rect(5px, 9999px, 15px, 0);
    }
    45% {
        clip: rect(19px, 9999px, 5px, 0);
    }
    50% {
        clip: rect(17px, 9999px, 10px, 0);
    }
    55.0% {
        clip: rect(4px, 9999px, 6px, 0);
    }
    60.0% {
        clip: rect(7px, 9999px, 3px, 0);
    }
    65% {
        clip: rect(13px, 9999px, 10px, 0);
    }
    70% {
        clip: rect(19px, 9999px, 11px, 0);
    }
    75% {
        clip: rect(3px, 9999px, 7px, 0);
    }
    80% {
        clip: rect(13px, 9999px, 20px, 0);
    }
    85.0% {
        clip: rect(2px, 9999px, 9px, 0);
    }
    90% {
        clip: rect(5px, 9999px, 10px, 0);
    }
    95% {
        clip: rect(2px, 9999px, 14px, 0);
    }
    100% {
        clip: rect(8px, 9999px, 16px, 0);
    }
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -1px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: #000000;
    background: #ffffff;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
    -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;
}