@import "variables";
@import "mixins";
@import "fonts";
@import "animations";

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    @media (min-width: $breakpoint-tablet-min) {
        font-size: 1.5em;
    }
}

a {
    color: cyan;
    text-decoration: none;
    outline: none;

    &:hover {
        color: magenta;
    }

    &:not(.btn) {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            background: magenta;
            opacity: 0;
            transition: opacity .3s, transform .3s;
            transform: translateY(0.6em);
        }

        &:hover::after {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

p, h2, h3, h4, li {
    font-weight: lighter;
}

h1 {
    @media (min-width: $breakpoint-mobile-min) {
        font-size: 4em;
    }
    font-family: "Milletun", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h3 {
    font-variant: small-caps;
}

h4 {
    font-style: italic;
}

section {
    margin: auto;

    @media (min-width: $breakpoint-mobile-min) {
        width: 66.666%;
    }
    @media (max-width: $breakpoint-mobile-max) {
        margin: 16px;
    }
}

ul {
    list-style-type: square;
}

blockquote {
    margin: 0;
    padding: 0 32px;

    font-style: italic;

    border-left: solid 8px white;

    p {
        margin: 0;
    }
}

.vertical-timeline-element-content {
    text-align: center;

    .vertical-timeline-element-date {
        text-align: left;

        @media (max-width: $breakpoint-mobile-max) {
            float: none;
        }
    }

    a::after {
        content: none;
    }

    h2 {
        color: white;
        font-size: 1.8em;
    }
}

.btn {
    display: block;

    padding: 10px 20px;
    text-align: center;

    border-radius: 4px;

    + .btn {
        margin-top: 1em;
    }

    // Styles
    &.btn-default, &.btn-source {
        border: 2px solid cyan;
        transition: border-color 0.4s, color 0.4s;

        &:hover {
            border-color: magenta;
        }
    }

    &.btn-primary {
        background: cyan;
        color: black;
        transition: background 0.4s;

        &:hover {
            background: magenta;
        }
    }

    &.btn-source {
        position: relative;
        overflow: hidden;

        .source-lines {
            position: absolute;
            width: 100%;

            animation: scroll 4s linear infinite;

            > * {
                background: rgba(0, 255, 255, 0.2);
                transition: background 0.4s;

                height: 12px;
                margin-bottom: 8px;
            }
        }

        &:hover {
            .source-lines > * {
                background: rgba(255, 0, 255, 0.4);
            }
        }
    }
}

.scroll-to-top {
    @media (max-width: $breakpoint-mobile-max) {
        display: none;
    }

    position: fixed;
    right: 64px;
    bottom: 32px;

    cursor: pointer;

    border-left: 8px solid cyan;
    border-top: 8px solid cyan;
    width: 48px;
    height: 48px;

    transition: transform 0.4s $ease-bounce;
    transform: translateX(128px) rotate(45deg);

    &:hover {
        border-color: magenta;
    }

    &.in {
        transform: translateX(0) rotate(45deg);
    }
}

.container {
    padding: 20px;
}

.parallax-container {
    animation: 0.6s background-fade-in 1 6s backwards;
}

.parallax-container, html {
    background-color: cyan;

    scrollbar-color: cyan black;
    // scrollbar-width: thin;

    &::-webkit-scrollbar {
        // width: 8px;
        background-color: black;
    }

    &::-webkit-scrollbar-thumb {
        // very neat hack for animating the scrollbar colour!
        background-color: inherit;

        &:horizontal:hover,
        &:vertical:hover {
            background-color: darken(cyan, 10%);
        }

        &:horizontal:active,
        &:vertical:active {
            background-color: darken(cyan, 20%);
        }
    }
}

.block-center {
    margin: auto;
    width: 100%;
    text-align: center;
}

.text-right {
    text-align: right;
}

.mobile-hidden {
    @media (max-width: $breakpoint-mobile-max) {
        display: none;
    }
}

.mobile-visible {
    @media (min-width: $breakpoint-mobile-min) {
        display: none;
    }
}

.load-spinner {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    height: 80%;
    border: 4px solid cyan;
    z-index: -100;

    &::before,
    &::after {
        content: '';
        position: absolute;

        width: 150%;
        height: 300%;

        background-color: black;
    }

    &::before {
        top: -100%;
        left: -100%;
        transform-origin: right;

        animation: 0.6s spin linear 1 433ms;
    }

    &::after {
        top: -100%;
        right: -100%;
        transform-origin: left;

        animation: 0.6s spin linear 1 400ms;
    }
}

.intro-header {
    width: 100%;
    flex-grow: 1;

    display: flex;
    align-items: center;

    & > h1 {
        position: relative;

        flex-grow: 1;

        margin: 0;

        text-align: center;
        font-family: "Milletun";
        font-size: 18vw;

        @media (max-width: $breakpoint-mobile-max) {
            margin-left: 4vw;
            margin-top: -10vh;
            font-size: 100vw;
        }

        color: transparent;
        background-clip: text;
        background-image: $title-bg-img;
        background-attachment: fixed;

        background-size: 32px 32px;

        animation: background-scroll 1s linear infinite, fade-in 4s linear 1 1s backwards;

        // Scale the background animation based on pixel density
        @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
            background-size: 16px 16px;
            animation: background-scroll 2s linear infinite, fade-in 4s linear 1 1s backwards;
        }

        & > span {
            position: absolute;
            left: 0;
            right: 0;
            z-index: -1;

            text-shadow: makeLongShadow(rgba(0, 255, 255, 1), 4);
            animation: fade-in-cyan-shadow 1s linear 1 5s backwards;
        }
    }
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scroll-indicator {
    width: 2px;
    background-color: white;
    height: 10vh;
    margin-bottom: 10vh;

    animation: scroll-indicator-move 2s infinite ease-in-out 6s backwards;
}

.background-parallelogram {
    width: 100%;
    height: 75%;
    transform: translateY(15%) skew(0deg, 5deg);
    background-image: linear-gradient(0, hsl(300deg 100% 10%), transparent);

    &.background-parallelogram-alt {
        transform: translateY(15%) skew(0deg, -5deg);
        background-image: linear-gradient(180deg, hsl(180deg 100% 10%), transparent);
    }
}

.background-hatch {
    width: 100%;
    height: 9999px;
    background-attachment: fixed;
    background-image: linear-gradient(180deg, black, rgba(0, 0, 0, 0.75) 512px, rgba(0, 0, 0, 0.75)), $title-bg-img;
    z-index: -200;
}

.background-title {
    // z-index: -1;

    font-size: 24vw;
    font-variant: small-caps;

    color: rgba(255, 255, 255, 0.1);
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.1);

    color: black;
    text-shadow: 0.3vw 0.3vw rgba(255, 255, 255, 0.2);
}

.up-down {
    @media (min-width: $breakpoint-mobile-min) {
        animation: up-down 6s ease-in-out infinite alternate;
    }
}

.text-small {
    font-size: 50%;
}

.anagram-container {
    text-align: center;
    font-size: 3vw;
    font-weight: lighter;

    @media (max-width: $breakpoint-mobile-max) {
        font-size: 7vw;
    }

    color: rgba(255, 255, 255, 0.5);

    animation: fade-in 1s linear 1 5s backwards;

    .anagram-swap {
        color: rgba(255, 255, 255, 0.4);
    }
}
