@import "variables";
@import "fonts";
@import "animations";

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 150%;
}

a {
    color: cyan;
    // transition: color 0.2s;

    &:hover {
        color: magenta;
    }
}

p, h2 {
    font-weight: lighter;
}

section {
    @media (min-width: $breakpoint-mobile-min) {
        width: 66.666%;
    }
    @media (max-width: $breakpoint-mobile-max) {
        margin: 16px;
    }
}

.intro-header {
    width: 100%;
    flex-grow: 1;

    display: flex;
    align-items: center;

    & > h1 {
        position: relative;

        flex-grow: 1;

        margin: 0;

        text-align: center;
        font-family: "Milletun";
        font-size: 18vw;

        @media (max-width: $breakpoint-mobile-max) {
            font-size: 24vw;
        }

        color: transparent;
        background-clip: text;
        background-image: $title-bg-img;
        background-attachment: fixed;

        animation: background-scroll 1s linear infinite, fade-in 4s linear 1 1s backwards;

        & > span {
            position: absolute;
            left: 0;
            right: 0;
            z-index: -1;

            text-shadow: 2px 2px rgba(0, 255, 255, 1), 4px 4px rgba(0, 255, 255, 1);
            animation: fade-in-cyan-shadow 1s linear 1 5s backwards;
        }
    }
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scroll-indicator {
    width: 2px;
    background-color: white;
    height: 100px;
    margin-bottom: 10vh;

    animation: scroll-indicator-move 2s infinite ease-in-out 6s backwards;
}

.background-title {
    font-size: 24vw;

    color: rgba(255, 255, 255, 0.1);
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.1);

    color: black;
    text-shadow: 8px 8px rgba(255, 255, 255, 0.2);
}

.up-down {
    @media (min-width: $breakpoint-mobile-min) {
        animation: up-down 6s ease-in-out infinite alternate;
    }
}

.text-small {
    font-size: 50%;
}

.anagram-container {
    text-align: center;
    font-size: 3vw;
    font-weight: lighter;

    @media (max-width: $breakpoint-mobile-max) {
        font-size: 7vw;
    }

    color: rgba(255, 255, 255, 0.5);

    animation: fade-in 1s linear 1 5s backwards;

    .anagram-swap {
        color: rgba(255, 255, 255, 0.4);
    }
}
