$breakpoint-mobile-min: 768px;
$breakpoint-mobile-max: 767px;

$breakpoint-tablet-min: 1280px;
$breakpoint-tablet-max: 1279px;

$title-bg-img: url("../images/title-tile.png");

$ease-bounce: cubic-bezier(.5, 0, .2, 1.1);
